<div class="col">
    <div class="col">
        <input type="text" #termino (keyup)="buscar(termino.value)" id="" class="form-control" placeholder="Buscar Artista...">
    </div>
</div>

<hr>
<div class="card-columns">
        <div class="card" *ngFor = "let artista of artistas">
          <img [src]="artista.images|noimage" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{artista.name}}</h5>
            
          </div>
        </div>
      
      </div>
      