<h1>form component</h1><form>
    <div class="form-group">
      <label for="idInput">ID</label>
      <input type="text" class="form-control" id="idInput" aria-describedby="emailHelp" placeholder="Enter ID">      
    </div>
    <div class="form-group">
      <label for="txtName">Product name</label>
      <input type="text" class="form-control" id="txtName" aria-describedby="emailHelp" placeholder="Enter product name">      
    </div>    
    <button type="button" class="btn btn-outline-primary" (click)="onChildClick()">{{buttonTitle}}</button>
    <button type="button" class="btn btn-outline-primary" (click)="return()">Cancelar</button>
  </form>